.card-content{
    float: left;
    width: 50%;
    height: 50%;
    text-align: justify;
}

.card-content img {
    width: 100%;
    height: 250px;
}

.card-content div{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}

